* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.layout {
  width: 95%;
  margin: 0 auto;
}
.logo {
  width: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.icon {
  cursor: pointer;
  margin: 0 5px;
  color: gray;
}
.header-icons {
  display: flex;
  align-items: center;
}
.account-icon {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgb(177, 173, 173);
  display: flex;
  align-items: center;
}
.account-icon span {
  color: rgb(150, 152, 153);
}
.third {
  display: flex;
  align-items: center;
}
.table {
  margin-top: 20px;
}
.lms {
  display: flex;
}
.cards {
  margin: 5px 20px;
}
.tasks{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
  text-align: center;
}
.task{
  width: 350px;
  height: 500px;
  border: 2px solid black;
}